<div class="wrap dt-wrap dt-bg-img" style="background:url(assets/images/jim.jpg) no-repeat center;height:350px;">

   <h1> <div class="col-sm-12"></div>
       <div class="centered">Wildlife Destinations in Uttarakhand</div></h1>
	<!-- <h1 class="center-h1-img">Wildlife Destinations in Uttarakhand</h1> -->
	<!-- <div class="container">
		<div class="row breadcrumb no-fill">
			 <div class="col-md-12">
				<ol class="list-inline dt-breadcrumb" itemtype="http://schema.org/BreadcrumbList">
				<li itemtype="http://schema.org/ListItem"><a href="http://www.euttaranchal.com" itemprop="item">Uttarakhand</a> <i class="fa fa-angle-right" ></i> </li><li itemtype="http://schema.org/ListItem"><a href="http://www.euttaranchal.com/tourism/" itemprop="item">Uttarakhand Tourism</a> <i class="fa fa-angle-right" ></i> </li>
				<li itemtype="http://schema.org/ListItem">Wildlife</li>
				</ol>
			</div> 
		</div>
	</div> -->
</div>

<br/>

<div class="wrap white-fill dt-featured">
	<div class="container">
		<div class="row top-margin">
			<div class="col-sm-12">
				<p class="text-center">Uttarakhand has 12 National Parks and Wildlife Sanctuaries covering 13.8 percent of the total area of the state where you can capture the indisputable expressions of various animals and birds. Apart from these there are two Conservation Reserves -The Asan Barrage and Jhilmil Tal conservation Reserves, two World Heritage sites of the Nanda Devi Biosphere reserve and Valley of Flowers National Park.</p>
	
				<p>If you are an avid nature lover, photographer, traveler, adventurer or wildlife lover then Uttarakhand is the place where you will meet all your needs.</p>
				<!-- <div class="button-centered-dt"><a href="/tourism/send-enquiry.php?destination_row_id=Uttarakhand~uk~0" class="btn btn-info btn-lg">Book a Tour Package to Uttarakhand</a></div> -->
				<!-- <h2 class="dt-sub-heading">Wildlife in Uttarakhand</h2> -->
				
			</div>
		</div>
		
		<div class="row ver-padding">
			<div class="col-md-6 dt-col-left">
				<div class="dt-photo"><a href="/tourism/corbett-national-park.php" title="Corbett National Park"><img src="assets/images/t1.jpg"width="500" height="300" alt="Jim Corbett Ramnagar" border="0" class="img-responsive" /></a></div>
				<div class="dt-dest-meta">
					<h3><a href="/tourism/corbett-national-park.php">Corbett National Park</a></h3>
					<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
				<div class="dt-caption">Jim Corbett National park is the oldest national park in India which got established in 1936 as Hailey National park and acts as a protected area of critically endangered Bengal Tiger of India. <a href="/tourism/corbett-national-park.php">Corbett</a></div>
			</div>
				
			<div class="col-md-6">
				<div class="dt-photo"><a href="/tourism/rajaji-national-park.php"><img src="assets/images/rajajipark.jpg"width="500" height="300" alt="Rajaji National Park" border="0" class="img-responsive" /></a></div>
				<div class="dt-dest-meta">
					<h3><a href="/tourism/rajaji-national-park.php">Rajaji National Park</a></h3>
					<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
				<div class="dt-caption">Rajaji National Park is predominantly formed from dense green jungles and is habitat of Asian Elephant, Bengal Tiger, Leopard, Jungle Cat, Striped Hyena, Goral, Sloth Bear, Himalayan Black Bear, King Cobra, Python etc. <a href="/tourism/rajaji-national-park.php">Rajaji National Park</a></div>
			</div>
		</div>
		
		<div class="clear"></div>
		
		<div class="row ver-padding">
			<div class="col-md-6 dt-col-left">
				<div class="dt-photo"><a href="/tourism/gangotri-national-park.php"><img src="assets/images/gangotripark.jpg"width="500" height="300" alt="Gangotri National Park" border="0" class="img-responsive" /></a></div>
				<div class="dt-dest-meta">
					<h3><a href="/tourism/gangotri-national-park.php">Gangotri National Park</a></h3>
					<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
				<div class="dt-caption">One of the famous high-altitude Wildlife Sanctuaries India, the Gangotri National Park is idyllically situated in the natural surroundings of Uttarkashi. <a href="/tourism/gangotri-national-park.php">Gangotri National Park</a></div>
			</div>
				
			<div class="col-md-6">
				<div class="dt-photo"><a href="/tourism/asan-barrage.php"><img src="assets/images/asan.jpg"width="500" height="300" alt="Asan Barrage" border="0" class="img-responsive" /></a></div>
				<div class="dt-dest-meta">
					<h3><a href="/tourism/asan-barrage.php">Asan Barrage</a></h3>
					<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
				<div class="dt-caption">The wetland at Asan Barrage, is situated near the confluence of two perennial rivers Asan and Yamuna near Dehradun. The lake attracts a large number of waterfowl, both waders and divers. <a href="/tourism/asan-barrage.php">Asan Barrage</a></div>
			</div>
		</div>
		
		<div class="clear"></div>
		
		<div class="row ver-padding">
			<div class="col-md-6 dt-col-left">
				<div class="dt-photo"><a href="/tourism/nainital-zoo.php"><img src="assets/images/zoo.jpg"width="500" height="300" alt="Nainital Zoo" border="0" class="img-responsive" /></a></div>
				<div class="dt-dest-meta">
					<h3><a href="/tourism/nainital-zoo.php">Nainital Zoo</a></h3>
					<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
				<div class="dt-caption">Covering a small green area of 4.693 Hectares, Nainital Zoo is the home of numerous endangered species. This high altitude zoo is located at an height of 2100 mtrs which makes this zoo a favourable place for many animals and birds. <a href="/tourism/nainital-zoo.php">Nainital Zoo</a></div>
			</div>
			
			<div class="col-md-6">
				<div class="dt-photo"><a href="/tourism/dehradun-zoo.php"><img src="assets/images/doonzoo.jpg"width="500" height="300" alt="Malsi Deer Park, Dehradun" border="0" class="img-responsive" /></a></div>
				<div class="dt-dest-meta">
					<h3><a href="/tourism/dehradun-zoo.php">Dehradun Zoo</a></h3>
					<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
				<div class="dt-caption">Earlier known as Malsi Deer Park, Dehradun Zoo has been developed as a Zoological park with several species of birds, leopard, turtles and other wild animals. <a href="/tourism/dehradun-zoo.php">Dehradun Zoo</a></div>
			</div>
		</div>
		
		<div class="clear"></div>
		
		<!-- <div class="button-centered-dt"><a href="/tourism/send-enquiry.php?destination_row_id=Uttarakhand~uk~0" class="btn btn-info btn-lg">Book a Tour Package to Uttarakhand</a></div> -->
						
	</div><!--#container //-->
</div><!--#wrap //-->


