<div class="wrap dt-bg-img" style="background:url(assets/images/rishikesh5.jpg)no-repeat center; height:350px;" >


	<!-- <h1 class="center-h1-img" style="margin-top:90px;">Pilgrimage and Temples in Uttarakhand</h1> -->
	<div class="container">
			<div class="centered" style="color:whitesmoke "><h1>Pilgrimage and Temples in Uttarakhand </h1></div>


		<!-- <div class="row breadcrumb no-fill"> -->
			<!-- <div class="col-md-12">
				<ol class="list-inline dt-breadcrumb" itemtype="http://schema.org/BreadcrumbList">
				<li itemtype="http://schema.org/ListItem"><a href="http://www.euttaranchal.com" itemprop="item">Uttarakhand</a> <i class="fa fa-angle-right" ></i> </li><li itemtype="http://schema.org/ListItem"><a href="http://www.euttaranchal.com/tourism/" itemprop="item">Uttarakhand Tourism</a> <i class="fa fa-angle-right" ></i> </li>
				<li itemtype="http://schema.org/ListItem">Pilgrimage</li>
				</ol>
			</div> -->
        <!-- </div> -->
        

        



	</div>
</div>

<br>
<div class="wrap white-fill dt-featured">
	<div class="container">
		<div class="row top-margin">
			<div class="col-sm-12">
				<p class="text-center">Uttarakhand is also revered as the 'abode of gods' because of the uncountable ancient temples situated here. Every mountain, every rock and every stream of Uttarakhand is somewhat associated with the mythological background of India. The sacred shrines of Char Dham, holy Panch Prayag, Lord Shiva's Panch Kedar, Lord Vishnu's Panch Badri and numerous other renowned temples are situated in Uttarakhand.</p>
				<br>
				<div class="button-centered-dt"><a href="https://www.trawell.in/uttarakhand/pilgrimages" class="btn btn-info btn-lg">Book a Tour Package to Uttarakhand</a></div>
                <br>
                <h2 class="dt-sub-heading">Religious Places and Temples in Uttarakhand</h2>
			</div>
	  </div>
		<br>
		<br>

		<div class="row ver-padding">
			<div class="col-md-6 dt-col-left">
				<div class="dt-photo"><a href="/tourism/haridwar.php" title="Haridwar"><img src="assets/images/haridwar1.jpg" width="500" height="300" class="img-responsive" alt="Haridwar" /></a></div>
				<div class="dt-dest-meta">
					<h3><a href="/tourism/haridwar.php">Haridwar</a></h3>
					<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
				<div class="dt-caption">Revered as one among the seven holiest places of India, Haridwar that literally suggests the 'Gateway to Lord Vishnu' is cradled on the banks of river Ganga. Maha Kumbh is held at Haridwar every 12 years.<a href="/tourism/haridwar.php">Haridwar</a></div>
			</div>
			
				
			<div class="col-md-6">
				<div class="dt-photo"><a href="/tourism/badrinath.php"><img src="assets/images/badrinathdham.jpg" width="500" height="300" class="img-responsive" alt="Badrinath" /></a></div>
				<div class="dt-dest-meta">
					<h3><a href="/tourism/badrinath.php">Badrinath</a></h3>
					<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
				<div class="dt-caption">Badrinath is the most important of all the four (Char) Dhams in India where lord Vishnu is worshipped. The temple remains open for 6 six months only and remains covered with snow for rest of the period. <a href="/tourism/badrinath.php">Badrinath</a></div>
			</div>
		</div>
		<br>
		
		<div class="clear dt-margin"></div>
		
		<div class="row ver-padding">
			<div class="col-md-6 dt-col-left">
				<div class="dt-photo"><a href="/tourism/kedarnath.php"><img src="assets/images/kedarnath5.jpg" width="500" height="300" class="img-responsive" alt="Kedarnath" /></a></div>
				<div class="dt-dest-meta">
					<h3><a href="/tourism/kedarnath.php">Kedarnath</a></h3>
					<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
				<div class="dt-caption">The Kedarnath temple lies amidst the majestic snow-capped Himalayan ranges on the banks of river Mandakini and is thronged by lakhs of pilgrims each year. <a href="/tourism/kedarnath.php">Kedarnath</a></div>
			</div>
			
			<br>
			<div class="col-md-6">
				<div class="dt-photo"><a href="/tourism/rishikesh.php"><img src="assets/images/risikesh.jpg" width="500" height="300" class="img-responsive" alt="Rishikesh" /></a></div>
				<div class="dt-dest-meta">
					<h3><a href="/tourism/rishikesh.php">Rishikesh</a></h3>
					<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
				<div class="dt-caption">Situated on the banks of the Ganges, Rishikesh is the only destination in the world which is equally popular for pilgrimage, Yoga and Adventure Sports. <a href="/tourism/rishikesh.php">Rishikesh</a></div>
			</div>
		</div>
		
		<br>
		<div class="clear dt-margin"></div>
				
		<div class="row ver-padding">
			<div class="col-md-6 dt-col-left">
				<div class="dt-photo-lg"><a href="/tourism/jageshwar.php"><img src="assets/images/jageshwar.jpg" width="500" height="300" class="img-responsive" alt="Jageshwar" /></a></div>
				<div class="dt-dest-meta">
					<h3><a href="/tourism/jageshwar.php">Jageshwar</a></h3>
					<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
				<div class="dt-caption">The cluster of Jageshwar temples depicts the ancient culture and design. There are around 124 temples and hundres of statues in Jageshwar Dham. <a href="/tourism/jageshwar.php">Jageshwar</a></div>
			</div>
			
			<br>
			<div class="col-md-6">
				<div class="dt-photo"><a href="/tourism/devprayag.php"><img src="assets/images/devprayag.jpg" width="500" height="300" class="img-responsive" alt="Devprayag" /></a></div>
				<div class="dt-dest-meta">
					<h3><a href="/tourism/devprayag.php">Devprayag</a></h3>
					<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
				<div class="dt-caption">Devprayag is the last Prayag or the holy confluence of the Alaknanda River, from here that the confluence of Alaknanda and Bhagirathi River is known as Ganga. <a href="/tourism/devprayag.php">Devprayag</a></div>
			</div>
		</div>
		
		<br>
		<div class="clear dt-margin"></div>
		
		<div class="row ver-padding">
			<div class="col-md-6 dt-col-left">
				<div class="dt-photo"><a href="/tourism/gangotri.php"><img src="assets/images/gangotri.jpg" width="500" height="300" class="img-responsive" alt="Gangotri" /></a></div>
				<div class="dt-dest-meta">
					<h3><a href="/tourism/gangotri.php">Gangotri</a></h3>
					<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
				<div class="dt-caption">Gangotri Temple is one of the pilgrimage place amongst chota char dham and the origin of Bhagirathi (Ganga) River is at Gaumukh glacier which is at a distance of 18kms from Gangotri and one must cover the distance on foot. <a href="/tourism/gangotri.php">Gangotri</a></div>
			</div>
			
			<br>
			<div class="col-md-6">
				<div class="dt-photo-lg"><a href="/tourism/chitai-golu-devta-temple.php"><img src="assets/images/chitai.jpg" width="500" height="300" class="img-responsive" alt="Chitai" /></a></div>
				<div class="dt-dest-meta">
					<h3><a href="/tourism/chitai-golu-devta-temple.php">Chitai</a></h3>
					<div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
				</div>
				<div class="dt-caption">Golu Devta is the cheif diety of Chitai temple who is famously regarded as "God of Justice." Devotees seeking justice throng to the place and several others write letters to Golu devta which can be seen around the temple. <a href="/tourism/chitai-golu-devta-temple.php">Chitai</a></div>
			</div>
		</div>
		<br>
		<div class="clear dt-margin"></div>
		
		<!-- <div class="button-centered-dt"><a href="/tourism/send-enquiry.php?destination_row_id=Uttarakhand~uk~0" class="btn btn-info btn-lg">Book a Tour Package to Uttarakhand</a></div> -->
				
	</div><!--#container //-->
</div><!--#wrap //-->
<br>
<br>



